body{
    background-color: rgb(15, 42, 58);
    font-family: Arial;
    display: flex;
    flex-direction: column;
}


h2,h3{
    color: aliceblue;
    padding: 0 5%;
    box-sizing: border-box;
    height: 50px;
    transition: 0.5s;
    align-items: center;
    display: flex;

}

footer{
    color: aliceblue;
}

h2,h3{
    color: aliceblue;
    padding: 0 5%;
    box-sizing: border-box;
    height: 50px;
    transition: 0.5s;
    align-items: center;
    display: flex;
}

header{
    background-color: black;
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
    box-sizing: border-box;
    height: 100px;
    transition: 0.5s;
    margin: 0;
}

h1{
    color: aliceblue;
}

p{
    color: white;
    padding: 0 5%;
    height: 10px;
    transition: 0.5s;
    align-items: center;
    display:flex;
}

.main-menu{
    display: flex;
    justify-content: left;
    align-items: left;
    list-style: none;
}

.menu-item{
    margin: 0 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: 0.5s;
    color: #f2f2f2;
}

.conteiner{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.conteiner-CSS{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 92px;
    margin-right: 92px;
}

table{
    background-color: rgb(255, 255, 255);
    text-align: left;
    border-collapse: collapse;
}
th, td{
    padding: 20px;
}

thead{
    background-color: #10ada0;
    border-bottom: solid 5px #277083;
    color: white;
}
tr:nth-child(even){
    background-color: #ddd;
}
tr:hover td {
    background-color: #08a3be;
    color: white;
}

.imagenes{
    display: flex;
    justify-content: center;
}


.ejemplos{
    display:flex;
    flex-direction: column;
}
